<main class="App__main">
  <div class="App__projects-container" *ngIf="projectConfigs.length; else noGitConfigs">
    <label for="projects-dropdown"> Click on checkbox <span class="App__checkbox-control-container"><span class="App__checkbox-control"></span></span> to connect project to Razroo
    </label>
    <vscode-dropdown [style]="'height: ' + ((((projectConfigs.length + 1) * 18) >= 200) ? 200 : (projectConfigs.length * 30) + 8) + 'px'"
      class="App__dropdown" id="projects-dropdown" multiple open>
      <ng-container *ngFor="let projectOption of projectConfigs">
        <div>
          <vscode-option [class]="(projectOption | isProjectSelected : selectedProjects) ? 'App__dropdown-selected App__vscode-option' : 'App__vscode-option'" (click)="toggleProjectOption(projectOption, projectConfigs)">
            <vscode-checkbox [checked]="(projectOption | isProjectSelected : selectedProjects)">{{projectOption?.packageJsonParams?.name | idToTitle}}</vscode-checkbox>
          </vscode-option>
        </div>
      </ng-container>
    </vscode-dropdown>
  
    <vscode-button class="App__button" [disabled]="authIsLoading || (!(selectedProjects?.length) && !(originalSelectedProjects?.length))" (click)="connectProjects(selectedProjects)">{{authIsLoading ? 'Connecting...' : (selectedProjects | connectText : originalSelectedProjects)}}</vscode-button>
    <ng-container *ngIf="orgId && userId">
      <label for="org_dropdown" class="App__org">
        <p *ngIf="orgId !== userId"><i>You are <a href="http://razroo.com" target="_blank">logged into {{organizations.length ? (orgId | zetaOrganizations : organizations)[0].displayName : ''}}</a></i></p>
        <p *ngIf="orgId === userId"><i>You are <a href="http://razroo.com" target="_blank">logged into your personal workspace</a></i></p>
      </label>
      <vscode-dropdown formControlName="orgDropdown" (change)="changeOrgDropdownValue($event)" class="App__organizations-dropdown" id="org_dropdown">
        <ng-container *ngFor="let organization of (orgId | zetaOrganizations : organizations)">
          <vscode-option [value]="organization?.orgId">{{organization?.displayName
            ? (organization?.displayName | titlecase)
            : (organization.orgId === organization.userId ? 'Personal Workspace' : organization.orgId)}}</vscode-option>
        </ng-container>
      </vscode-dropdown>
    </ng-container>
  </div>

  <ng-template #noGitConfigs>
    <ng-container *ngIf="authIsLoading">
      <div>Razroo is loading...</div>
    </ng-container>
    <ng-container *ngIf="!authIsLoading">
    <div class="App__projects-container">
      <pre class="ascii-art ascii-art--error">
_______   ________  ________  ________  ________     
|\  ___ \ |\   __  \|\   __  \|\   __  \|\   __  \    
\ \   __/|\ \  \|\  \ \  \|\  \ \  \|\  \ \  \|\  \   
 \ \  \_|/_\ \   _  _\ \   _  _\ \  \\\  \ \   _  _\  
  \ \  \_|\ \ \  \\  \\ \  \\  \\ \  \\\  \ \  \\   \ 
   \ \_______\ \__\\ _\\ \__\\ _\\ \_______\ \__\\ __\ 
    \|_______|\|__|\|__|\|__|\|__|\|_______|\|__|\|__|
      </pre>
      Will need atleast one project that uses Git in your VSCode Workspace to use Razroo Projects.
    </div>
    <hr class="starters-hr">
    <div class="App__new-project">
      <div>Use Razroo to create a new project</div>
      <vscode-dropdown (change)="changeStarterDropdownValue($event)" class="App__organizations-dropdown" class="starters_dropdown">
        <ng-container *ngFor="let starter of razrooStarters">
          <vscode-option [value]="starter">{{starter?.title}}</vscode-option>
        </ng-container>
      </vscode-dropdown>
      <vscode-text-field class="starter-project-input" (keyup)="changeProjectName($event)" type="text" placeholder="Project Name"></vscode-text-field>
      <vscode-button class="App__button" (click)="createProject()">Create</vscode-button>
    </div>
    </ng-container>
  </ng-template>

  <div class="App__user-login-container">
    <i class="App__logout-text">Log out to sign in as a different user</i>
    <vscode-button appearance="secondary" class="App__user-logout-button" (click)="logout()">Logout</vscode-button>
  </div>
</main>
